@import url(../CSS/google-font.css);

body{
    padding: 0!important;
    margin: 0!important;
    background: lightblue!important;
    text-align: center!important;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'!important;
    font-size: 200%!important;
}
p{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
   font-size: 100%!important;
}
hr{
    margin: 1.9rem 2rem!important;
    padding: 0!important;
    margin-right: 25rem!important;
    margin-left: 25rem!important;
    display: flex!important;
    
}
